/* --------------------------- */
/* -------- CSS Sheet -------- */
/* --------------------------- */


body {
    background-color: rgb(16, 15, 15);
    color:antiquewhite;
}

.piano {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.white {
    width: 9%;
    min-width: 40px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.black {
    width: 8%;
    height: 42%;
    margin-left: -4%;
    margin-right: -4%;
    z-index: 2;
    background-color: black;
    border-radius: 2px;
}

.white.active {
    background-color: white;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
        background-color: rgb(75, 32, 140);
		opacity: 0.8;
	} 100% {
		opacity: 1;
	}
}

.black.active {
    background-color: rgb(26, 24, 24);
    opacity: 1;
	animation-name: blackFadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes blackFadeInOpacity {
	0% {
        background-color:rgb(18, 63, 122);
		opacity: 0.8;
	} 100% {
		opacity: 1;
	}
}
